@import url('./reset.css');
@import url('./common.css');

a {
    text-decoration: none;
    color: inherit;
}

.article {
    margin: 2em auto;
}

.article::before {
    display: block; 
    content: ""; 
    margin-top: -2.5em; 
    height: 2.5em; 
    visibility: hidden; 
}

.article li {
    list-style: none;
    margin: .2em 5vh;
}

.body {
    background-color: var(--color-light);
    color: var(--color-dark);
    font-size: 1rem;
}

.caps { 
    text-transform: uppercase; 
}

.content {
    flex: 2 1 800px;
}

.flex {
    display: flex;
}


.gallery { 
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.gallery__image {
    margin: 1vh;
    max-width: 100%;
    height: 100%;
    max-height: 80vh;
    width: 400px;
    flex: 1 1 400px;
    filter: grayscale(.7);
    box-sizing: border-box;
    transition: filter .2s;
}

.gallery__image:hover {
    filter: none;
}

.section-title {
    margin: 5vh 0;
    font-size: 2em;
}

.section-subtitle {
    margin: 3vh;
    font-size: 1.5em;
}

.section-item {
    list-style: none;
    margin: .2em 5vh;
}

.header {
    min-height: calc(100vh - 2.5em);
    text-align: right;
    color: var(--color-dark);
    background-image: url(../images/300m5.jpg);
    background-size: cover;
}

.header .header-title {
    margin: 0 1em;
    font-size: 2em;
    font-weight: 700;
    padding-top: 1em;
    opacity: 1;
    transition: opacity 500ms;
}

.header .header-role {
    margin: 0rem 2em;
    opacity: 1;
    transition: opacity 500ms;
}

.header .hidden {
    opacity: 0;
}

.header__bg-image {
    display: none;
    visibility: hidden;
    z-index: -999;
    position: absolute;
    max-width: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}

.leftBar {
    flex: 1 2 100px;
    height: inherit;
}

li {
    list-style: none;
}

.main {
    padding-block: 2.5em;
}

.nav {
    position: fixed;
    width: 100%;
    height: 2.5em;
    background-color: inherit;
    display: flex;
    font-size: 1em;
    border-bottom: 1px solid var(--color-light);
    z-index: 2;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 3 1 800px;
}

.nav li {
    display: inline;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}

.nav li:hover {
    border-bottom: 1px solid var(--color-light);
}

p {
    margin-top: 1em;
}

.quotation {
    font-style: italic;
    font-weight: lighter;
}

.rightBar {
    flex: 1 4 100px;
    height: inherit;
}

.section {
    display: flex;
}

.section a {
    font-weight: bold;
    transition: all .4s ease-in-out;
}

.section a:hover {
    border-bottom: 1px solid var(--color-light);
}

.underline {
    border-bottom: 1px solid var(--color-light);
}

@media (min-width: 748px) {
    .body {
        font-size: 1.5em;
    }
    
    .gallery img {
        object-fit: cover;
        height: 400px;
    }
}

@media (prefers-color-scheme: light) {
    .body {
        background-color: var(--color-light);
        color: var(--color-dark);
    }

    .footer {
        background-color: var(--color-dark);
        color: var(--color-light);
    }

    .underline {
        border-bottom: 1px solid var(--color-dark);
    }
}

@media (prefers-color-scheme: dark) {
    .body {
        background-color: var(--color-dark);
        color: var(--color-light);
    }

    .footer {
        background-color: var(--color-light);
        color: var(--color-dark);
    }

    .underline {
        border-bottom: 1px solid var(--color-light);
    }
}

@media (orientation: landscape) {
    .header {
        background-position: 0% 60%;
    }
}

@media (orientation: portrait) {
    .content {
        margin: 0em 1em;
    }

    .header {
        background-position: top left;
    }    
}
