html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    display: none;
}
body{
    background-color: rgb(16,33,55);
    color: rgb(223,224,230);
    font-size: 1rem;
}

/* nav */

nav{
    position:fixed;
    width: 100%;
    height:2.5em;
    background-color: inherit;
    display:flex;
    font-size: 1em;
    border-bottom: 1px solid rgb(223,224,230);
    z-index: 2;
}
nav .left {
    flex: 1 2 100px;
    height: inherit;
}
nav .right {
    flex: 0.5 4 300px;
    height: inherit;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 2 1 600px;
}
nav li{
    display: inline;
    text-transform:capitalize;
    transition: all 0.4s ease-in-out;

}
a{
    text-decoration: none;
    color: inherit;
}
nav li:hover{
    border-bottom: 1px solid rgb(223,224,230);
}


main{
    padding-top: 2.5em;
}
header {
    min-height: calc(100vh - 2.5em);
    text-align: right;
    color: rgb(16,33,55);
    background-image: url(pics/300m5.jpg);
    background-size: cover;
}
header img{
    visibility: hidden;
}
header h1{
    margin: 0rem 1em;
    font-size: 2em;
    font-weight: 900;
}

header li{
    margin: 0rem 2em;
}

/* section */
section{
    display: flex;
    }
article{
    max-width: 80%;
    margin: 2em auto;
}
/* for h2 not covered by nav */
article::before{
    display: block; 
  content: " "; 
  margin-top: -2.5em; 
  height: 2.5em; 
  visibility: hidden; 
}
.quotation{
    font-style: italic;
    font-weight: lighter;
}
section.left{
    flex: 1 2 100px;
    height: inherit;

}
section.middle{
    flex: 2 1 600px;
}
section.right{
    flex: 0.5 4 300px;
    height: inherit;

}
article li{
    list-style: initial;
    margin: 0 5vh;
}
h2{
    margin: 5vh 0;
    font-size: 2em;
    text-transform: capitalize;
}
h3{
    margin: 3vh;
    font-size: 1.5em;
}
ul, li{
    list-style: none;
}
p{
    margin-top: 1em;
}

/* gallery */
#gallery div{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    align-content:stretch;
    /* max-height: 100vh; */
}
#gallery img{
    margin: 1vh;
    /* border: 2vh solid rgba(223,224,230,0); */
    /* border-radius: 3px; */
    max-width: 100%;
    height: 100%;
    width: 500px;
    flex: 1 1 400px;
    filter:grayscale(0.7);
    box-sizing: border-box;
    /* position: relative; */
    transition: filter 0.2s ease-in-out;
    object-fit:scale-down;
}
#gallery img:hover{
    filter:none;
    /* border:none;
    height:none; */
    transform: scale(1.6);
    object-fit: scale-down;
    z-index: 1;
    /* width:600px; */
    
}

section a{
    font-weight: bold;
    transition: all 0.4s ease-in-out;
    margin-top: 2em;
}
section a:hover{
    border-bottom: 1px solid rgb(223,224,230)
}
footer{
    color: rgb(16,33,55);
    background-color:rgb(223,224,230);
    text-align: center;
    height: 5vh;
    font-size: 0.8em;
    word-wrap: normal;
    /* margin: auto; */

}
@media (min-width: 748px){
    /* dodać zmianę zachowania galerii cover>contain */
    body{
        font-size: 1.5em;
    }
    header{
        background-position: bottom 30% left;
    }
    #gallery img{
        object-fit:cover;
        height: 500px;
    }

}